<%- include('../layouts/header.ejs') %>

  <section class="vh-100 gradient-form d-flex justify-content-center align-items-center"
    style="background-color: #1e3932">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="text-black">
            <div class="row g-0 d-flex justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4 border border-primary mt-5"
                  style="background-color: #d0d0d0; border-radius: 10px">
                  <div class="text-center">
                    <h4 class="mt-1 mb-5 pb-1" style="
                      font-family: 'EB Garamond', serif;
                      font-family: 'Tilt Warp', cursive;
                    ">
                      TECCAS EKART
                    </h4>
                  </div>
                  <form method="post" action="/verifyReset">
                    <div class="d-flex flex-row align-items-center mb-1 mt-2">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label for="otp">OTP code</label>
                        <input type="text" name="otp" class="form-control" id="otp" />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-1 mt-2">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label for="newPassword">New password</label>
                        <input type="password" class="form-control" name="password" id="password" />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-1 mt-2">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label for="confirmPassword">Confirm new password</label>
                        <input type="password" class="form-control" name="confirm-password" id="confirmPassword" />
                      </div>
                    </div>
                    <% if(typeof msg !=='undefined' ){ %>

                      <p style="
                      font-size: small;
                      color: red;
                      font-family: 'Tilt Warp', cursive;
                    " class="ms-3">
                        <%= message %>
                      </p>

                      <% } %>

                        <button type="submit" class="btn btn-success mt-3 ms-3">
                          Reset password
                        </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    const validateResetPasswordForm = () => {
      const otpInput = document.getElementById("otp");
      const passwordInput = document.getElementById("password");
      const confirmPasswordInput = document.getElementById("confirmPassword");
      const errorMessage = document.getElementById("error-message");
      const otpRegex = /^\d+$/;

      if (!otpInput.value.match(otpRegex)) {
        errorMessage.innerText = "OTP code must be a number";
        return false;
      }

      if (passwordInput.value !== confirmPasswordInput.value) {
        errorMessage.innerText = "Passwords do not match";
        return false;
      }

      return true;
    };
  </script>