<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>teccas</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- animate CSS -->
  <link rel="stylesheet" href="css/animate.css">
  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <!-- nice select CSS -->
  <link rel="stylesheet" href="css/nice-select.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="css/all.css">
  <!-- flaticon CSS -->
  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/themify-icons.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="css/magnific-popup.css">
  <!-- swiper CSS -->
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/price_rangs.css">
  <link rel="shortcut icon" href="/images/teccas.jpg" type="image/x-icon">
  <!-- style CSS -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>




  <div class="d-flex justify-content-center mt-5">
    <div class="col-lg-4">

      <div class="order_box">

        <form action="/orderConfirm" id="payment" method="post">
          <% if (!hideCod) { %>
            <div class="payment_item">
              <div class="radion_btn">
                <input type="radio" id="f-option5" value="COD" name="flexRadioDefault" />
                <label for="f-option5">COD</label>
                <div class="check"></div>
              </div>
              <p>
                Please send a check to Store Name, Store Street, Store Town,
                Store State / County, Store Postcode.
              </p>
            </div>
          <% } %>
          

          <div class="payment_item">
            <div class="radion_btn">
              <input type="radio" id="f-option9" value="wallet" name="flexRadioDefault" onclick="razorpay()" />
              <label for="f-option9">Razorpay</label>
              <div class="check"></div>
            </div>
            <p>
              Confirm Your Payment, there is no refund policy
              available as of now.
            </p>
          </div>

       



          <button type="submit" id="rzp-button" class="btn_3 mt-3">Pay $ <span style="color: black;">
              <%= Total-wallet %>
            </span></button>

        </form>

      </div>
    </div>
  </div>



  <!-- jquery plugins here-->
  <!-- jquery -->
  <script src="js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="js/swiper.min.js"></script>
  <!-- swiper js -->
  <script src="js/masonry.pkgd.js"></script>
  <!-- particles js -->
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="js/slick.min.js"></script>
  <script src="js/jquery.counterup.min.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/contact.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="js/jquery.form.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/mail-script.js"></script>
  <script src="js/stellar.js"></script>
  <script src="js/price_rangs.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script>
  
    const radioButtons = document.getElementsByName("flexRadioDefault");

   
    document.getElementById("payment").addEventListener("submit", function (event) {
      
      event.preventDefault();

      let radioButtonSelected = false;

      
      for (let i = 0; i < radioButtons.length; i++) {
        if (radioButtons[i].checked) {
          radioButtonSelected = true;
          break;
        }
      }

     
      if (!radioButtonSelected) {
        alert("Please select a payment option.");
        return;
      }

  
      this.submit();
    });

</script>






  <script>
    function razorpay() {
      console.log("okok");
      $.ajax({
        url: '/razorpayPayment',
        type: 'get',
        dataType: 'json',
        contentType: 'appilaction/json',

        success: (res) => {
          console.log(res);

          if (res.order) {
            
            console.log('gshcghg');
            var options = {
              "key": "rzp_test_vXi9kqY9B879FW",
              "amount": "<%= Total *100 %>",
              "currency": "INR",
              "name": "Acme Corp",
              "description": "Test Transaction",
              "image": "https://example.com/your_logo",
              "order_id": res.order.id, 
              "handler": function (response) {
                console.log(response)
                console.log("response")
              if (response.razorpay_payment_id) {
                success();
              } else {
                failure();
              }
            },
              "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
              },
              "notes": {
                "address": "Razorpay Corporate Office"
              },
              "theme": {
                "color": "#3399cc"
              }
            };
            var rzp1 = new Razorpay(options);
 
          

rzp1.open();
             var rzp1 = new Razorpay(options);
            document.getElementById('rzp-button').onclick = function (e) {
              rzp1.open();
              e.preventDefault();
             }
          }

          function Wallet() {
      console.log("Wallet payment selected");

          }


        }
      })
    }

   
    function success() {
      location.href = '/orderConfirmation'

    }

    
  function failure() {
    location.href = '/failedpayment';
  }
  </script>

</body>

</html>